.btn {
	background: rgba(255, 255, 255, .5);
	text-transform: uppercase;
	color: #203d76;
	@include transition(.2s);
	font-family: 'museo', sans-serif;
	@include font-size(22px);
	@include border-radius(12px);

	&:focus, &:active {
		outline: none !important;
		@include box-shadow(none);
	}

	&:hover {
        background: rgba(255, 255, 255, 1);
	}

	&.btn-primary {

	}
}
