.btn {
  background: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  color: #192b4d;
  @include transition(.2s);

	&:hover {
    background: rgba(255, 255, 255, 1);
	}

	&.btn-primary {

	}
}
