.expert {
	margin-bottom: 20px;

	.header {
		@extend %clearfix;

		.name {
			float: left;
			margin: 0;
			text-transform: uppercase;
			color: #555454;
			font-weight: 100;
		}
	}

	.title {
		@include font-size(19px);
		margin-top: 0;
		line-height: 1;
	}

	.blurb {
		margin-top: 12px;

		p {
			@include font-size(13px, 17px);
			color: #555454;
		}
	}

	.social-icons {
		float: left;
		margin-left: 12px;
		margin-top: 6px;

		.icon {
			width: 20px;
			height: 20px;
			float: left;
			margin-right: 2px;
			background-repeat: no-repeat;
			text-indent: -9999em;

			&.icon-twitter {
				background-image: url('../img/sm_twitter.jpg');
			}

			&.icon-linkedin {
				background-image: url('../img/sm_linkedin.jpg');
			}

			&.icon-email {
				background-image: url('../img/sm_email.jpg');
			}
		}
	}
}