@font-face {
	font-family: 'museo';
	src: url('../fonts/museosans-100-webfont.eot');
	src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museosans-100-webfont.woff2') format('woff2'),
	url('../fonts/museosans-100-webfont.woff') format('woff'),
	url('../fonts/museosans-100-webfont.ttf') format('truetype'),
	url('../fonts/museosans-100-webfont.svg#museo_sans100') format('svg');
	font-weight: 100;
	font-style: normal;

}

@font-face {
	font-family: 'museo';
	src: url('../fonts/museosans-300-webfont.eot');
	src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museosans-300-webfont.woff2') format('woff2'),
	url('../fonts/museosans-300-webfont.woff') format('woff'),
	url('../fonts/museosans-300-webfont.ttf') format('truetype'),
	url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'museo';
	src: url('../fonts/museosans-500-webfont.eot');
	src: url('../fonts/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museosans-500-webfont.woff2') format('woff2'),
	url('../fonts/museosans-500-webfont.woff') format('woff'),
	url('../fonts/museosans-500-webfont.ttf') format('truetype'),
	url('../fonts/museosans-500-webfont.svg#museo_sans500') format('svg');
	font-weight: 500;
	font-style: normal;

}