.content-info {
    display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	@include media-query (sm) { display: block; }

	nav {
		background: #606060;
		@include box-shadow(0 0 10px 2px rgba(0, 0, 0, 0.2));


		ul {
			@extend %clearfix;
			@extend %reset;
			list-style-type: none;

			.home {
				width: 5%;
			}

			li {
				width: 19%;
				float: left;
				@include transition(.2s ease-in);

				&:nth-child(even) { background: #464646; }
				&:nth-child(even).active a, &:nth-child(even) a:hover { background: #203d76; }
				&:nth-child(odd).active a, &:nth-child(odd) a:hover { background: #4ba747; }

				&.active {
					a {
						color: #fff;
					}
				}

				a {
					display: block;
					@include rem('padding', 12px 0);
					text-align: center;
					color: #ccc;
					font-family: $header_font_family;
					@include font-size(18px);
					font-weight: 100;
					line-height: 1;
					text-transform: uppercase;
					@include transition(.2s ease-in);

					@include media-query (md) {
						@include font-size(20px);
						line-height: 1;
					}

					&:hover {
						color: #fff;
						text-decoration: none;
					}

					&:active, &:visited, &:focus {
						text-decoration: none;
						outline: none;
					}
				}
			}
		}
	}
}
