.fittext {
	color: #fff;
	display: block;
	font-family: 'museo', san-serif;

	&:first-child, &:nth-child(3) { font-weight: 100; }
	&:nth-child(2) { font-weight: 300; }
	&:nth-child(4) { font-weight: 500; }
}

.fit-headline {
	@include rem('margin', 0 5%);
	text-transform: uppercase;

	@include media-query (xs) { @include rem('margin', 0 10%); }
	@include media-query (sm) { @include rem('margin', 0 20%); }

	span {
		vertical-align: top;
		color: #fff;
	}
}