header.masthead {
	position: relative;
	height: 80px;
	top: 0;
	z-index: 9999;
	width: 100%;
	@include rem('padding', 12px 24px);
	margin: 0;
	background: rgba(255,255,255,.9);
	@include transition(.2s);

	@include media-query (sm) { position: fixed; }

	@include media-query (md) {
		position: fixed;
		height: 80px;
		@include rem('padding', 12px 42px);
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.navbar-logo {
		float: left;
		width: 215px;

		@include media-query (xs_max) { width: 60%; }
		@include transition(.2s);
	}

	.connect-logo {
		float: right;
		width: 194px;
		margin-top: 6px;

		@include media-query (xs_max) { width: 30%; }
		@include transition(.2s);
	}

	&.scrolled {
		@include media-query (sm) {
			height: 52px;
			@include rem('padding', 8px 42px);

			@include media-query (sm) {
				.navbar-logo {
					width: 140px;
					@include transition(.2s);
				}

				.connect-logo {
					width: 140px;
					margin-top: 4px;
					@include transition(.2s);
				}
			}
		}
	}
}

.fp-viewing-section2, .fp-viewing-section3, .fp-viewing-section4, .fp-viewing-section5 {

	@include media-query (md) {
		header.masthead {
			height: 52px;
			@include rem('padding', 8px 42px);

			.navbar-logo {
				width: 140px;
				@include transition(.2s);
			}

			.connect-logo {
				width: 140px;
				margin-top: 4px;
				@include transition(.2s);
			}
		}
	}
}