// Fullpage Base Styles
//==================================================================*/
.fullpage-wrapper {

	.section {
		position: relative;
		z-index: 2;
	}

	.container, .container-fluid { position: relative; }
}


// First Section
//==================================================================*/
.section.section-primary {
	background: black;

	@include media-query (xs_max) { @include rem('margin-bottom', 20px); }

	.container {
		@include rem('padding-top', 30px);
		@include rem('padding-bottom', 30px);

		@include media-query (sm) {
			margin: 100px 0;
			width: 100%;
		}

		.section-link { margin: 20px 0; }
	}
}


// Second Section
//==================================================================*/
.section.section-whoweserve {


	.block { @include rem('margin-bottom', 12px); }

	.container {
		text-align: center;

		@media (min-width: 768px) and (max-width: 1200px) { width: 100%; }
		@include media-query (sm) { @include rem('padding', 120px 15px 60px); }
	}

	.slimScrollDiv {

		.container { @include rem('padding', 0 0 60px); }
	}
}


// Third Section
//==================================================================*/
.section.section-solutions {
	z-index: 1;
	background-size: cover;

	.flexslider-controls {
		z-index: 99;

		@include media-query (sm) {
			top: 140px;
			z-index: 99;
		}

		button {
			margin-left: 6px;
			margin-right: 6px;
			color: #4e5055;

			@include media-query (sm_max) { margin-top: 12px; }

			&:hover { color: #203d76; }
		}

		.flex-active button {
			color: #203d76;
		}
	}

	.flexslider { z-index: 9; }

	.container-fluid {

		.slider {
			background-size: cover;

			li { @extend %clearfix; }
		}
	}
}

// Fourth Section
//==================================================================*/
.section.section-consulting {  }


// Fifth Section
//==================================================================*/
.section.section-contact {  }


// Misc Styles
//==================================================================*/
.ui-video-background { display: none; }

.vidbg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;

	video {
		min-height: 100%;
		min-width:100%;
	}
}

.pointer {
	position: absolute;
	left: 200px;
	top: 200px;
	z-index: 99999;

	.arrow {
		width: 40px;
		height: 4px;
		background: red;
	}
}