// Fullpage Base Styles
//==================================================================*/
.fullpage-wrapper {

	.section {
		position: relative;
		z-index: 2;
	}

	.container, .container-fluid { position: relative; }
}


// First Section
//==================================================================*/
.section.section-primary {
	position: relative;
	background: url("../img/img_government.jpg") no-repeat;
	background-size: cover;
	display: block;

//	@include media-query (md_max) {
//		@include rem('padding-top', 40px);
//		@include rem('padding-bottom', 40px);
//	}
//
//	@include media-query (xs_max) {
//		@include rem('margin-bottom', 20px);
//	}

	.container {
		@include rem('padding-top', 30px);
		@include rem('padding-bottom', 30px);

		@include media-query (sm) {
			margin: 100px 0;
			width: 100%;
		}
	}

	.section-link {
		@include media-query (sm) {
			margin: 40px 0;
		}
	}

	.slides {
		height: 400px;
//		@include rem('padding-top', 20px);
//		@include rem('padding-bottom', 20px);

		li {
//			height: 100%;
//			display: block;
			@include media-query (sm) {
				@include rem('padding-top', 30px);
			}

			.fit-headline {
				@extend %vertical-align;
			}
		}
	}
}


// Second Section
//==================================================================*/
.section.section-whoweserve {


	.block { @include rem('margin-bottom', 12px); }

	.container {
		text-align: center;

		@media (min-width: 768px) and (max-width: 1200px) { width: 100%; }
		@include media-query (sm) { @include rem('padding', 30px 15px 30px); }
	}

	.slimScrollDiv {

		.container { @include rem('padding', 0 0 60px); }
	}
}


// Third Section
//==================================================================*/
.section.section-solutions {
	z-index: 1;
	background-size: cover;
	position: relative;

	.flexslider-controls {
		z-index: 99;
		width: 80%;
		margin: 0 10%;

		@include media-query (sm) {
			top: 70px;
			z-index: 99;
		}

		button {
			width: 100%;
			margin: 0;
			@include rem('padding', 6px 30px);
			color: #4e5055;
			@include font-size(16px);
			@include border-radius(10px);

			@include media-query (sm) {
				margin-top: 0;
				margin-left: 8px;
				margin-right: 8px;
			}

			&:hover { color: #203d76; }
		}

		.flex-active button { color: #203d76; }
	}

	.slider {
		height: 100%;
		background-size: cover;

		li { @extend %clearfix; }
	}

	.flexslider { z-index: 9; }
}

// Fourth Section
//==================================================================*/
.section.section-consulting {
	overflow: hidden;

	.flexslider {
		li {
			@media (max-width: 767px) {
				position: static !important;
				margin: 0 !important;
				opacity: 1 !important;
			}
		}
	}

	.slides {

		li {
			@include media-query (sm) {
				margin-top: 80px;
				text-align: left;
			}
		}

		.process-image {
			position: relative;
			display: inline-block;
			max-width: 100%;

			&:after, &:before {
				content: '';
				position: absolute;
				bottom: 0;
				height: 100%;
				width: 16px;
				background-position: center bottom;
			}

			&:before {
				left: -16px;
				background: url("../img/bg_img-shadow-left.png");
			}

			&:after {
				right: -16px;
				background: url("../img/bg_img-shadow-right.png");
			}

			img {
				@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
			}
		}
		
		.content {
			margin-top: 20px;

			@include media-query (sm) {
				text-align: left;
			}
		}
	}
}


// Fifth Section
//==================================================================*/
.section.section-experts {
	@include rem('padding-top', 60px);

	h1 {
		margin-bottom: 22px;
		@include font-size(36px);
		line-height: 1;
		color: #203d76;
		text-transform: uppercase;
		border: 1px solid #203d76;
		@include rem('padding', 26px);
		text-align: center;

		@include media-query (md) { margin-bottom: 42px; }
		@include media-query (lg) { margin-bottom: 62px; }
	}
}


// Sixth Section
//==================================================================*/
.section.section-contact {

	@include rem('padding-top', 20px);
	@include rem('padding-bottom', 40px);

	@include media-query (sm) {
//		padding-bottom: none;
	}

	.iphone-wrap {
		position: relative;
		text-align: center;
		margin: 0 auto;
		width: 254px;
		height: 480px;
		text-align: left;
		background: url("../img/img_connect-iphone.png");

		@include media-query (sm_max) { margin-bottom: 20px; }

		video, .iphone-img {
			position: relative;
			left: 20px;
			top: 47px;
			width: 212px;
			height: 374px;
			background-size: cover;
			display: block;

			&:hover {
				cursor: pointer;

				i { display: block; }
			}
		}

		i {
			position: absolute;
			left: 41.5%;
			top: 10.5%;
			font-size: 52px;
			color: rgba(32, 60, 120, 0.5);
			z-index: 99;
		}

//		.iphone-img {
//			width: 100%;
//			height: 100%;
//			display: block;
//			background-position: center top;
//			background-size: cover;
//
//			@include media-query (sm) {
//				position: absolute;
//				top: 48px;
//				left: 20px;
//				width: 211px;
//				height: 374px;
//			}
//		}
	}
}


// Misc Styles
//==================================================================*/
.ui-video-background { display: none; }

.vidbg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;

	video {
		min-height: 100%;
		min-width:100%;
	}
}

.overlay {
	@include media-query (sm) {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.6);
	}
}


.pointer {
	position: absolute;
	left: 200px;
	top: 200px;
	z-index: 99999;

	.arrow {
		width: 40px;
		height: 4px;
		background: red;
	}
}