// Fullpage Base Styles
//==================================================================*/
.fullpage-wrapper {

	.section {
		position: relative;
		z-index: 2;
	}

	.container, .container-fluid { position: relative; }
}


// First Section
//==================================================================*/
.section.section-primary {
	background: black;

	@include media-query (xs_max) { @include rem('margin-bottom', 20px); }

	.container {
		@include rem('padding-top', 30px);
		@include rem('padding-bottom', 30px);

		@include media-query (sm) {
			margin: 100px 0;
			width: 100%;
		}

		.section-link { margin: 20px 0; }
	}
}


// Second Section
//==================================================================*/
.section.section-whoweserve {


	.block { @include rem('margin-bottom', 12px); }

	.container {
		text-align: center;

		@media (min-width: 768px) and (max-width: 1200px) { width: 100%; }
		@include media-query (sm) { @include rem('padding', 30px 15px 30px); }
	}

	.slimScrollDiv {

		.container { @include rem('padding', 0 0 60px); }
	}
}


// Third Section
//==================================================================*/
.section.section-solutions {
	z-index: 1;
	background-size: cover;

	.flexslider-controls {
		z-index: 99;

		@include media-query (sm) {
			top: 80px;
			z-index: 99;
		}

		button {
			margin-left: 8px;
			margin-rigth: 8px;
			@include rem('padding', 6px 30px);
			color: #4e5055;
			@include font-size(16px);
			@include border-radius(10px);

			@include media-query (sm_max) { margin-top: 12px; }

			&:hover { color: #203d76; }
		}

		.flex-active button {
			color: #203d76;
		}
	}

	.flexslider { z-index: 9; }

	.container-fluid {

		.slider {
			background-size: cover;

			li { @extend %clearfix; }
		}
	}
}

// Fourth Section
//==================================================================*/
.section.section-consulting {
	overflow: hidden;

	.slides {

		li {
			@include media-query (sm) {
				margin-top: 80px;
			}
		}

		.content {
			margin-top: 20px;
		}
	}
}


// Fifth Section
//==================================================================*/
.section.section-contact {

	.iphone-wrap {

		@include media-query (md) {
			width: 252px;
			height: 490px;
			background: url("../img/img_connect-iphone.png");
		}

		.iphone-img {

			@include media-query (md) {
				position: absolute;
				top: 48px;
				left: 35px;
				width: 211px;
				height: 374px;
				background-position: center top;
				background-size: cover;
			}
		}
	}
}


// Misc Styles
//==================================================================*/
.ui-video-background { display: none; }

.vidbg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;

	video {
		min-height: 100%;
		min-width:100%;
	}
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
}


.pointer {
	position: absolute;
	left: 200px;
	top: 200px;
	z-index: 99999;

	.arrow {
		width: 40px;
		height: 4px;
		background: red;
	}
}